.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h3{
  color: #FF3811;
}
.btn-theme:hover, .btn-theme.btn-active {
  --tw-border-opacity: 1;
  border-color: #FF3811;
  --tw-bg-opacity: 1;
  background-color: #FF3811;
  color:#fff;
}

.btn-outline.btn-theme {
  color:#fff;
}

.btn-outline.btn-theme:hover, .btn-outline.btn-theme.btn-active {
  --tw-border-opacity: 1;
  border-color: #FF3811;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  color: #fff;
  background-color: #FF3811;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}